- f.p( :public_name ) do
  = f.label :public_name, "Public Name"
  = f.text_field :public_name
  = f.msg_on :public_name

- f.p( :contact_name ) do
  = f.label :contact_name, "Primary Contact"
  = f.text_field :contact_name
  = f.msg_on :contact_name

- f.p( :contact_email ) do
  = f.label :contact_email, "Primary Contact's Email"
  = f.text_field :contact_email
  = f.msg_on :contact_email

- f.p( :contact_phone ) do
  = f.label :contact_phone, "Contact Phone"
  = f.text_field :contact_phone
  = f.msg_on :contact_phone

- f.p( :website ) do
  = f.label :website
  = f.text_field :website, :size => 40
  = f.msg_on :website

- f.p( :group_email ) do
  = f.label :group_email, "Group Email"
  = f.text_field :group_email
  = f.msg_on :group_email

- f.p( :biography ) do
  = f.label :biography
  = f.text_area :biography, :size => '40x10'
  = f.msg_on :biography

- f.p( :names_list ) do
  = f.label :names_list, "People in Group <small>(list all)</small>"
  = f.text_area :names_list, :size => '40x3'
  = f.msg_on :names_list
  
- f.p( :is_organization ) do
  = f.label :is_organization, "Are you an organization/group/collective?"
  = f.check_box :is_organization
  = f.msg_on :is_organization
