.password
  %h1
    Reset Your Password
    
  - form_for @user, :url => url_for( :action => 'update' ), :method => :put do |f|
    = hidden_field_tag :anonymous_login_code, params[:anonymous_login_code]
    
    - f.p( :password ) do
      = f.label :password
      = f.password_field :password
      = f.msg_on :password
      
    - f.p( :password_confirmation ) do
      = f.label :password_confirmation
      = f.password_field :password_confirmation
      = f.msg_on :password_confirmation
    
    %p.submit
      = submit_tag "Submit"
      = link_to "Cancel", root_path