#login.member

  %h1 Log in

  = flash_display
  
  - form_tag login_path do
    %p.email
      %label Email
      = text_field_tag 'email', nil, :size => 25, :maxlength => User::EMAIL_MAX_LENGTH, :id => 'login_email'		

    %p.password
      %label Password
      = password_field_tag 'password', nil, :size => 25, :maxlength => User::PASSWORD_MAX_LENGTH		

    %p.rememberMe
      = check_box_tag 'remember_me', '1', false 
      %small Remember me on this computer

    %p.submit
      = submit_tag "Log In"
      - if params[:return_to]
        = hidden_field_tag 'return_to', params[:return_to]
        = link_to "Cancel", params[:return_to]
      

  .otherOptions
    %p.forgotPassword
      = link_to "Forgot your password?", forgot_password_path
