#project.member

  = render :partial => 'projects/head', :locals => { :project => @program.project, :artist => @program.project.artist }    

  .programs
    - form_for @program do |f|
      = render :partial => 'programs/form', :locals => { :f => f }
      
      %p.submit
        = submit_tag "Update"
        = link_to "Cancel", project_programs_path( @program.project )
      %p.delete
        = link_to "Delete this Program", @program, :method => :delete
        
    = render :partial => 'programs/index', :locals => { :programs => @programs }
      
