#project.member

  = render :partial => 'projects/head', :locals => { :project => @project, :artist => @project.artist }    

  .programs
    - form_for @program, :url => project_programs_path( @project ) do |f|
      = render :partial => 'programs/form', :locals => { :f => f }
      
      %p.submit
        = submit_tag "Submit"
        = link_to "Cancel", project_programs_path( @project )
        
    = render :partial => 'programs/index', :locals => { :programs => @programs }
      
      