%h1 Curators

- if @users.any?
  = pluralize @users.size, "Curator"
  Found
  
  %table
    %thead
      %tr
        %th Name
        %th Email
        %th Last Logged In
    
    %tbody
      - for u in @users
        %tr
          %td= u.name
          %td= u.email
          %td= u.last_logged_in_at
          
= link_to "Add curator", new_curator_path