#curator.member

  %h1
    Curator:
    = @user.name
  
  %dl
    %dt Name
    %dd= @user.name
    
    %dt Email
    %dd= @user.email
    
    %dt Projects
    %dd
      - if @user.projects.try(:any?)
        %ul
          - for p in @user.projects
            %li= link_to p.title, p
      - else
        %span.none
          (none)
        
  %ul.options
    %li= link_to "Edit Curator details", edit_curator_path( @user )