#submission

  %h1 Project Submission
  - if flash[:error]
    #flash.error
      = flash[:error]
      
  - if ! @artist.new_record?
    = @artist.public_name

  - form_for @project, :url => submissions_path do |f|

    #artist
      
      %h3 Artist      
      - fields_for :artist, @artist do |a|
        = render :partial => 'artists/form', :locals => { :f => a }
      
    #project
      %h3 Project
    
      = render :partial => 'projects/form', :locals => { :f => f }
    
    %p.submit
      = submit_tag "Submit"
      = link_to "Cancel", root_path
      
