- f.p( :title ) do
  = f.label :title
  = f.text_field :title
  = f.msg_on :title
  
- f.p( :description ) do
  = f.label :description
  = f.text_area :description
  = f.msg_on :description
  
.categories
  = f.label :categories, "Categories"
  %ul.choices
    - for c in Category.find(:all)
      %li
        = check_box_tag 'project[category_ids][]', c.id, ( f.object.category_ids.try(:any?) && f.object.category_ids.include?( c.id.to_s ) )
        %label= c.name
  = f.msg_on :categories

- f.p( :dimensions ) do
  = f.label :dimensions
  = f.text_field :dimensions
  = f.msg_on :dimensions

- f.p( :duration ) do
  = f.label :duration
  = f.text_field :duration
  = f.msg_on :duration

.requestedLocationIds
  = f.label :requested_location_ids, "Location"
  %ul.choices
    - for l in Location.find(:all)
      %li
        = check_box_tag 'project[location_ids][]', l.id, ( f.object.location_ids.try(:any?) && f.object.location_ids.include?( l.id.to_s ) )
        %label= l.name
  = f.msg_on :category_ids


- f.p( :waiver ) do
  = f.label :waiver, "Waiver"
  = f.check_box :waiver
  = f.msg_on :waiver


