- f.p( :title ) do
  = f.label :title
  = f.text_field :title
  = f.msg_on :title
  
- f.p( :description ) do
  = f.label :description
  = f.text_area :description
  = f.msg_on :description
  
.categoryIds
  = f.label :category_ids, "Categories"
  %ul.choices
    - for c in @categories
      %li
        = check_box_tag 'project[category_ids][]', c.id, f.object.category_ids.include?( c.id )
        %label= c.name
  = f.msg_on :category_ids

- f.p( :dimensions ) do
  = f.label :dimensions
  = f.text_field :dimensions
  = f.msg_on :dimensions

- f.p( :duration ) do
  = f.label :duration
  = f.text_field :duration
  = f.msg_on :duration

.requestedLocationId
  = f.label :requested_location_id, "Location"
  %ul.choices
    - for l in @locations
      %li
        = radio_button_tag 'project[requested_location_id]', l.id, f.object.requested_location_id == l.id
        %label= l.name
  = f.msg_on :category_ids


