- f.p( :title ) do
  = f.label :title
  = f.text_field :title
  = f.msg_on :title
  
- f.p( :description ) do
  = f.label :description
  = f.text_area :description
  = f.msg_on :description
  
.categories
  = f.label :categories, "Categories"
  %ul.choices
    - for c in Category.find(:all)
      %li
        = check_box_tag 'project[category_ids][]', c.id, ( f.object.category_ids.try(:any?) && f.object.category_ids.include?( c.id.to_s ) ), :id => "project_category_id_#{ c.id }", :class => 'category'
        %label= c.name
  = f.msg_on :categories

.questions
  %ul
    - for q in Question.find(:all) 
      - name = "questions[#{ q.id }]"
      
      %li{ :class => q.category_ids.join( " ") }
        %label= q.wording
        .answer
          - case q.genre
            - when Question::STRING  
              = text_field_tag name, q.answer
      
            - when Question::BOOLEAN 
              %label Yes
              = radio_button_tag name, 'yes', :checked => q.answer == 'yes'
              %label No
              = radio_button_tag name, 'no', :checked => q.answer == 'no'
      
            - when Question::TEXT  
              = text_area_tag name, q.answer
              
          - if q.errors.on(:answer)
            %span.msg.error
              = q.errors.on(:answer)
  
  
- f.p( :dimensions ) do
  = f.label :dimensions
  = f.text_field :dimensions
  = f.msg_on :dimensions

- f.p( :duration ) do
  = f.label :duration
  = f.text_field :duration
  = f.msg_on :duration

.requestedLocationIds
  = f.label :requested_requested_location_ids, "Location"
  %ul.choices
    - for l in Location.find(:all)
      %li
        = check_box_tag 'project[requested_location_ids][]', l.id, ( f.object.requested_location_ids.try(:any?) && f.object.requested_location_ids.include?( l.id.to_s ) )
        %label= l.name
  = f.msg_on :category_ids


- f.p( :waiver ) do
  = f.label :waiver, "Waiver"
  = f.check_box :waiver
  = f.msg_on :waiver


  