#project.member

  %h1
    Project:
    = @project.title

  - form_for @project do |f|
    %ul.tabs
      - for s in Project::SECTIONS
        %li{ :class => params[:section] == s ? 'current' : nil }= link_to s.capitalize, url_for( :section => s, :subsection => nil )
        
    
    %div{ :class => params[:section] }
      = render :partial => "projects/#{ params[:section] }", :locals => { :f => f }


    %p.submit
      = submit_tag "Submit"
      = link_to "Cancel", :back