#project.member

  %h1
    Project:
    = @project.title

  - form_for @project do |f|
    %ul.tabs
      - for s in Project::SECTIONS
        %li{ :class => params[:section] == s ? 'xcurrent' : nil }= link_to s.capitalize, url_for( :section => s )
      %li= link_to "Programs", project_programs_path( @project )
      
    %div{ :class => params[:section] }
      - begin
        = render :partial => "projects/#{ params[:section] ? params[:section] : Project::SECTIONS[0]  }", :locals => { :f => f }
      
      - rescue ActionView::MissingTemplate
        = render :partial => "projects/#{ Project::SECTIONS[0] }", :locals => { :f => f }

    %p.submit
      = submit_tag "Submit"
      = link_to "Cancel", :back    
      

