#projects.index
  %h1 Projects

  %table
    %thead
      %tr
        %th= sort_link( "No.", :id )
        %th= sort_link( "Status", :status )
        %th= sort_link( "Title", :title )
        %th= sort_link( "Artist", :str_artist )
        %th= sort_link( "Curator", :str_curator )
        %th Categories
        %th= sort_link( "Location", :str_placed_location ) 
        %th= sort_link( "Placement Code", :placement_code )
        %th= sort_link( "Setup Time", :setup_at )
        %th= sort_link( "Breakdown Time", :break_down_at )
        %th Programs

    %tbody
      - for p in @projects
        %tr
          %td= link_to p.id, p
          %td= link_to h( p.status ), p
          
          %td= link_to h( p.title ), p
          %td
            - if p.artist
              =link_to h( p.artist.public_name ), p.artist
          %td
            - if p.curator
              = link_to h( p.curator.name ), p
          %td
            - if p.categories.any?
              = p.categories.map { |c| link_to h( c.name ), p }.join(", ")

          %td
            - if p.placed_location
              = link_to h( p.placed_location.name ), p

          %td= link_to h( p.placement_code ), p
          %td
            - if p.setup_at
              -#= link_to h( p.setup_at.strftime("%A, %b %e %I:%M:%p").gsub(' 0', ' ') ), p
          %td
            - if p.break_down_at
              = link_to h( p.break_down_at.strftime("%A, %b %e %I:%M:%p").gsub(' 0', ' ') ), p
          
  = link_to "Add a Project", new_submission_path
