#project

  %h1= @project.title

  %p.edit
    = link_to "Edit this project", edit_project_path( @project )
    
  %p.back
    = link_to "<< back to projects", projects_path
    
  %dl
    %dt id
    %dd= @project.id

    %dt Artist
    %dd
      - if @project.artist
        = link_to h( @project.artist.public_name ), @project.artist

    %dt title
    %dd= @project.title.try(:any?) ? h( @project.title ) : "--"

    %dt description
    %dd= @project.description.try(:any?) ? h( @project.description ) : "--"

    %dt dimensions
    %dd= @project.dimensions.try(:any?) ? h( @project.dimensions ) : "--"

    %dt duration
    %dd= @project.duration.try(:any?) ? h( @project.duration ) : "--"

    %dt Requested Locations
    %dd= @project.requested_locations.try(:any?) ? @project.requested_locations.map(&:name).join( ', ') : "none"
    
    %dt Press
    %dd= @project.press ? "yes" : "no"

    %dt stipend
    %dd= @project.stipend.try(:any?) ? h( @project.stipend ) : "--"

    %dt notes
    %dd= @project.notes.try(:any?) ? h( @project.notes ) : "--"

    %dt Placed Location
    %dd
      =h @project.placed_location ? @project.placed_location.name : "none"

    %dt Placement Code
    %dd= @project.placement_code.try(:any?) ? h( @project.placement_code ) : "--"


    %dt Categories
    %dd= @project.categories.try(:any?) ? @project.categories.map{ |c| h(c.name) }.join( ', ') : "none"

    %dt status
    %dd= @project.status ? @project.status : "none"

    %dt Setup
    %dd= @project.setup_at ? @project.setup_at : "--"

    %dt Break Down
    %dd= @project.break_down_at ? h( @project.break_down_at ) : "--"
    
  %p.edit
    = link_to "Edit this project", edit_project_path( @project )