!!! XML
!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head{:profile => "http://selenium-ide.openqa.org/profiles/test-case"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "http://localhost:3000/", :rel => "selenium.base"}/
    %title ArtistSubmission
  %body
    %table{:border => "1", :cellpadding => "1", :cellspacing => "1"}
      %thead
        %tr
          %td{:colspan => "3", :rowspan => "1"} ArtistSubmission
      %tbody
        %tr
          %td open
          %td /
          %td
        %tr
          %td clickAndWait
          %td link=click here.
          %td
        %tr
          %td waitForTextPresent
          %td Submission
          %td
        %tr
          %td clickAndWait
          %td commit
          %td
        = assert_input_with_error_for(    'artist', 'public_name' )
        = assert_input_with_error_for(    'artist', 'contact_name' )
        = assert_input_with_error_for(    'artist', 'contact_email' )
        = assert_input_with_error_for(    'artist', 'website' )
        = assert_input_with_error_for(    'artist', 'group_email' )
        = assert_textarea_with_error_for( 'artist', 'biography' )
        = assert_textarea_with_error_for( 'artist', 'names_list' )
        = assert_textarea_with_error_for( 'project', 'description' )
        = assert_input_with_error_for(    'project', 'title' )
        = assert_input_with_error_for(    'project', 'waiver' )
        = type_in( 'artist_public_name', 'Ok Fine' )
        = type_in( 'artist_contact_name', 'For Sure, For Sure' )
        = type_in( 'artist_contact_email', 'misterme@thisplace.com' )
        = type_in( 'artist_contact_phone', '123-345-5678' )
        = type_in( 'artist_website', 'www.thisone.com' )
        = type_in( 'artist_group_email', 'wearefamily@whatever.com' )
        = type_in( 'artist_biography', 'We began two days ago during a night of binge drinking.' )
        = type_in( 'artist_names_list', 'Tom, Dick, Harry' )
        = type_in( 'project_title', 'Look At What I Did' )
        = type_in( 'project_description', 'This will be something by which you shall be amazed.  !!!' )
        %tr
          %td click
          %td project_waiver
          %td
        %tr
          %td clickAndWait
          %td commit
          %td
