- f.p( :name ) do
  = f.label :name
  = f.text_field :name
  = f.msg_on :name
  
- f.p( :email ) do
  = f.label :email, "Email"
  = f.text_field :email
  = f.msg_on :email

- f.p( :password ) do
  = f.label :password
  = f.password_field :password
  = f.msg_on :password

- f.p( :password_confirmation ) do
  = f.label :password_confirmation, "Please Re-Type Password"
  = f.text_field :password_confirmation
  = f.msg_on :password_confirmation
