#light_box_overlay{ :style => "display: none;" }

#lightbox{ :style => @show_signup_form? '' : "display: none;" }
	.login.form{ :style => "display: none;" }
		%h1
			Login
			= link_to( "close", root_path, :class => "close" )
		= render :partial => 'account/forms/login'

	.forgot_password.form{ :style => "display: none;" }
		%h1
			Forgot Your Password?
			= link_to( "close", root_path, :class => "close" )
		= render :partial => 'account/forms/forgot_password'

	.signup.form{ :style => @show_signup_form? '' : "display: none;" }
		%h1
			Create Your Player Profile
			= link_to( "close", root_path, :class => "close" )

		- form_for :user, @current_user, :url => account_path, :html => { :class => 'xhr' } do |f|
			= render :partial => 'account/forms/signup', :locals => {:f => f}

		.otherOptions
			%p.alreadyHaveAnAccount
				Already have an account?
				%br/
				= link_to "Click here to login.", login_path
