.popup.draggable
  .panel
    = link_to "X", url_for( params.merge( :controller => 'searches', :action => 'show', :starts_at_minute => nil, :ends_at_minute => nil, :popup => nil, :act_id => nil, :id => @search.to_param )), :class => 'close'

    - if params[:popup] == 'forgot_password'
      - form_tag '/forgot_password' do
        = hidden_field_tag :next_action, request.path
        %p.email
          %label{ :for => "email" } Your Email:
          = text_field_tag 'email', '', :size => 30, :id => "forgotten_email"

        %p.submit
          = submit_tag 'Submit', :name => 'forgot_password'

        .otherOptions
          %p.forgotPassword 
            Just remembered it? 
            = link_to "Click here to login.", url_for( :popup => 'login' ), :class => 'xhr'
          - if @current_act.allow_signups?
            %p.signUp 
              Haven't signed up yet?  
              = link_to "Click here to sign up.", url_for( :popup => 'signup' ), :class => 'xhr'

    
    - elsif params[:popup] == 'login' || @current_user.is_returning
      %h2 Login Here
      - form_tag enhanced_login_path do
        = hidden_field_tag :next_action, request.path
        = render :partial => 'session/login_form'

        .otherOptions
          %p.forgotPassword
            = link_to "Forgot your password?", url_for( :popup => 'forgot_password' )

          %p.signUp
            Haven't signed up yet? 
            = link_to "Click here to sign up.", url_for( :popup => 'signup' )
      
    

    
    - else
      %h2 Create your player profile
      - form_for :user, @current_user, :url => account_path do |f|
        = hidden_field_tag :next_action, request.path
        = render :partial => 'account/forms/signup', :locals => {:f => f}

        .otherOptions
          %p.alreadyHaveAnAccount
            Already have an account?
            %br/
            = link_to "Click here to login.", url_for( :popup => 'login' )
