#forgot_password
  %h1 Forgot Your Password?

  #flash
    .error
      = flash[:error]
    .notice
      = flash[:notice]
    

  - form_tag '/forgot_password', :class => 'xhr' do
    %fieldset
      %p  
        %label{ :for => "email" } Your Email:
        = text_field_tag 'email', '', :size => 30, :id => "forgotten_email"

      %p.submit
        = submit_tag 'Submit'

    .otherOptions
      %p.forgotPassword 
        Just remembered it? 
        = link_to "Click here to login.", login_url, :class => 'xhr'

