#account
  %h1 You
  
  #flash
    .notice
      = flash[:notice]
    
  %dl
    %dt Name
    %dd= @current_user.name

    %dt Email
    %dd= @current_user.email
    
  = link_to "Edit your info", edit_account_path
  = link_to "Change your password", edit_password_path
  