#account.member

  %h1 You
  
  #flash
    .notice
      = flash[:notice]
    
  %dl
    %dt Name
    %dd= @current_user.name

    %dt Email
    %dd= @current_user.email
   
    - if @current_user.is_root?
      %dt Root?
      %dd Yes

    - if @current_user.is_admin?
      %dt Admin?
      %dd Yes

    - if @current_user.is_curator?
      %dt Curator?
      %dd Yes
      
  %ul.options
    %li= link_to "Edit your account info", edit_account_path
    %li= link_to "Change your password", edit_password_path
  