!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %title== Figment 2010

    = stylesheet_link_tag [ 'app' ], :cache => false

  %body
    %ul#tabs
      %li= link_to "Home", root_path
      
      - if @current_user.logged_in?
        %li= link_to "Projects", projects_path
        %li= link_to "Artists", artists_path
        - if @current_user.is_admin?
          %li= link_to "Categories", categories_path
          %li= link_to "Locations", locations_path
          %li= link_to "Curators", curators_path

        
        %li.account
          %small
            logged in as
          = link_to @current_user.name.or( @current_user.email ), account_path
        %li= link_to "Logout", logout_path
        
      - else
        %li= link_to "Login", login_path
      
        
    #logo
      %a{ :href => "http://figmentproject.org/2010/" }
        %img{ :src => "http://figmentproject.org/2010/wp-content/themes/arthemia/images/YellowS_logo.png", :height => "154px", :align => "bottom", :alt => "", :width => "280px" }

    #page
      = yield
      

    = javascript_include_tag [ 'jquery-1.3.2.min', 'app' ]
    
    #footnotes_holder
    
